<form [formGroup]="questionsForm">
    <h1 class="h3 mb-4 text-gray-800">{{quiz.title}} Quiz</h1>
    <div formArrayName="questions" class="text-center">
        <div *ngFor="let question of questionsForm['controls'].questions['controls']; let i=index" class="wthree-text">
            <div [formGroupName]="i">
                <p>Question number {{i+1}}</p>
                <ckeditor class="ck" formControlName="question" tagName="textarea" [editor]="Editor"></ckeditor>
            </div>
        </div>
        <br>
        <button class="btn btn-primary btn-user" (click)="addQuestion()" > Add a Question</button>
        
    </div>
    <hr>
    <input class="btn btn-primary btn-user btn-block" [disabled]="!questionsForm.valid" type="submit" (click)="onSubmit()" value="Add Quiz">
</form>
    