<h1 class="h3 mb-4 text-gray-800">{{title}} Quiz</h1>
<form [formGroup]="editQuizForm">
    <div class="form-group">
        <label id="example-radio-group-label">Pick your Quiz Type </label><br>
        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" formControlName="type">
            <mat-radio-button class="example-radio-button" value="qcm">QCM </mat-radio-button>
            <mat-radio-button class="example-radio-button" value="redac"> Redaction </mat-radio-button>
        </mat-radio-group>
    </div>
    <div class="form-group">
        <input class="form-control form-control-user" formControlName="title" type="text" placeholder="Title"/>
    </div>
    <div class="form-group">
        <input class="form-control form-control-user" formControlName="time" type="number" placeholder="Time"/>
    </div>
    <div class="form-group">
        <input class="form-control form-control-user" formControlName="topic" type="text" placeholder="Topic"/>
    </div>
  <mat-horizontal-stepper formArrayName="questions" [linear]="false">
    <div *ngFor="let question of editQuizForm['controls'].questions['controls']; let i=index">
      
    <mat-step [formGroupName]="i" >
            <ckeditor  formControlName="question"  [editor]="Editor" data="<p>data</p>"></ckeditor>

        <div>
        <button *ngIf="i!==0" mat-button matStepperPrevious type="button">Back</button>
        <button  mat-button matStepperNext type="button">Next</button>
      </div>
    </mat-step>
  </div>
  <mat-step label="Sumbit">
    <p *ngIf="editQuizForm.valid"> You are about to sumbit... Are you sure about your answers?</p>
    <mat-error *ngIf="!editQuizForm.valid" class="pl-2">Can't submit with the following errors</mat-error>
    <div *ngFor="let error of editQuizForm['controls'].questions['controls']; let j=index;">
      <mat-error *ngIf="error.hasError('required','question')"> The question number {{j+1}} is required</mat-error>
    </div>
    
    <div class="step-actions">

      

      <button [disabled]="!editQuizForm.valid" class="btn btn-primary btn-user btn-block"  size="sm" color="primary" (click)="onSubmit()" > SUBMIT </button>
    </div>
  </mat-step>
  </mat-horizontal-stepper>
</form>