<h1 class="h3 mb-4 text-gray-800">{{title}} Quiz</h1>
<form [formGroup]="passQuizForm">
  <mat-horizontal-stepper formArrayName="answers" [linear]="false">
    <div *ngFor="let answer of passQuizForm['controls'].answers['controls']; let i=index">
      
    <mat-step [formGroupName]="i">
      
      <div *ngIf="type=='redac'">
        <span [innerHTML]="labels[i].question"></span>
        <ckeditor  formControlName="answer"  [editor]="Editor" data="Your Answer"></ckeditor>
      </div>
      
      <div *ngIf="type=='qcm'">
        <span [innerHTML]="labels[i].question"></span>
        
        <div class="form-group">
          <div class="custom-control custom-checkbox small">
            <input formControlName="suggestion1" type="checkbox" class="custom-control-input" >
            <label [innerHTML]="labels[i].suggestion1" class="custom-control-label" for="customCheck"></label>
          </div>
        </div>
        <div class="form-group">
          <div class="custom-control custom-checkbox small">
            <input formControlName="suggestion2" type="checkbox" class="custom-control-input" >
            <label [innerHTML]="labels[i].suggestion2" class="custom-control-label" for="customCheck"></label>
          </div>
        </div>
        <div class="form-group">
          <div class="custom-control custom-checkbox small">
            <input formControlName="suggestion3" type="checkbox" class="custom-control-input" >
            <label [innerHTML]="labels[i].suggestion3" class="custom-control-label" for="customCheck"></label>
          </div>
        </div>
        <div class="form-group">
          <div class="custom-control custom-checkbox small">
            <input formControlName="suggestion4" type="checkbox" class="custom-control-input" >
            <label [innerHTML]="labels[i].suggestion4" class="custom-control-label" for="customCheck"></label>
          </div>
        </div>
      </div>
      
      <div>
        <button *ngIf="i!==0" mat-button matStepperPrevious type="button">Back</button>
        <button  mat-button matStepperNext type="button">Next</button>
      </div>
    </mat-step>
  </div>
  <mat-step label="Sumbit">
    <p *ngIf="passQuizForm.valid"> You are about to sumbit... Are you sure about your answers?</p>
    <mat-error *ngIf="!passQuizForm.valid" class="pl-2">Can't submit with the following errors</mat-error>
    <div *ngFor="let error of passQuizForm['controls'].answers['controls']; let j=index;">
      <mat-error *ngIf="error.hasError('required','answer')"> An answer to the question number {{j+1}} is required</mat-error>
    </div>
    
    <div class="step-actions">

      

      <button [disabled]="!passQuizForm.valid" class="btn btn-primary btn-user btn-block"  size="sm" color="primary" (click)="onSubmit()">SUBMIT</button>
    </div>
  </mat-step>
  </mat-horizontal-stepper>
</form>