
            <div class="container">

                <!-- Outer Row -->
                <div class="row justify-content-center">
            
                  <div class="col-xl-10 col-lg-12 col-md-9">
            
                    <div class="card o-hidden border-0 shadow-lg my-5">
                      <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                          <div class="col-lg-6 d-none d-lg-block bg-register-image"></div>
                          <div class="col-lg-6">
                            <div class="p-5">
                              <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                              </div>
                              <form [formGroup]="RegisterForm" class="user">
                                <div class="form-group">
                                  <input class="form-control form-control-user" formControlName="userName" type="text" placeholder="Username"/>
                                </div>
                                <div class="form-group">
                                  <input class="form-control form-control-user" formControlName="email" type="email" placeholder="Email"/>
                                  </div>
                                  <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input class="form-control form-control-user"formControlName="pwd" type="password" placeholder="password"/>
                                    </div>
                                    <div class="col-sm-6">
                                        <input class="form-control form-control-user"formControlName="cpwd" type="password" placeholder="Confirm password"/>
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <div class="custom-control custom-checkbox small">
                                      <input formControlName="isCoach" type="checkbox" class="custom-control-input" id="customCheck">
                                      <label class="custom-control-label" for="customCheck">I am a Coach</label>
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <div class="custom-control custom-checkbox small">
                                      <input formControlName="terms" type="checkbox" class="custom-control-input" id="customCheck">
                                      <label class="custom-control-label" for="customCheck">I Agree To The Terms & Conditions</label>
                                    </div>
                                  </div>
                                <a (click)="onSubmit()" class="btn btn-primary btn-user btn-block">
                                    SIGNUP
                                </a>
                                <hr>
                              </form>
                              <hr>
                              <div class="text-center">
                                Already registered? <a class="small" routerLink="/login">Login Now!</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
            
                  </div>
            
                </div>
            
              </div>