<div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Duration</th>
              <th>Topic</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor=" let quiz of quizzes; let i=index">
                <td>{{quiz.title}}</td>
                <td>{{quiz.type}}</td>
                <td>{{quiz.time}}</td>
                <td>{{quiz.topic}}</td>
                <th><a class="nav-link" [routerLink]="['/show-quiz/', i]"  >show</a>
                  <a class="nav-link" [routerLink]="['/edit-quiz/', i]"  >edit</a>
                  <a class="nav-link" (click)="delete(i)"  >delete</a></th>
              </tr>
        </tbody>
    </table>
  </div>
</div>
</div>