<div id="wrapper">
  <app-sidbar></app-sidbar>
<div id="content-wrapper" class="d-flex flex-column">
  
  <div id="content">
    <app-navigation></app-navigation>
          <div class="container-fluid">
            <router-outlet></router-outlet>
          </div>
</div>

<footer class="sticky-footer bg-white">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>Copyright &copy; Your Website 2019</span>
    </div>
  </div>
</footer>
</div>
</div>