
<form [formGroup]="questionsForm">
    <h1 class="h3 mb-4 text-gray-800">{{quiz.title}} Quiz</h1>
    <div formArrayName="questions" class="text-center">
        <div *ngFor="let question of questionsForm['controls'].questions['controls']; let i=index" class="wthree-text">
            <div [formGroupName]="i">
                    <p class="h4 text-gray-900 mb-4">Question {{i+1}}</p>
                    <div class="form-group">
                        <input class="form-control form-control-user" formControlName="question" type="text" placeholder="question"/>
                    </div>
<div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <input class="form-control form-control-user" formControlName="suggestion1" type="text" placeholder="suggestion 1"/>
                        </div>
                        <div class="form-group">   
                            <input class="form-control form-control-user" formControlName="suggestion2" type="text" placeholder="suggestion 2"/>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <input class="form-control form-control-user" formControlName="suggestion3" type="text" placeholder="suggestion 3"/>
                        </div>
                        <div class="form-group">
                            <input class="form-control form-control-user" formControlName="suggestion4" type="text" placeholder="suggestion 4"/>
                        </div>
                    </div>
                </div>
                    <div class="form-group">
                        <input class="form-control form-control-user" formControlName="rightAnswer" type="number" placeholder="right Answer"/>
                    </div> 
                
            
            </div>
        </div>
        <button class="btn btn-primary btn-user"  (click)="addQuestion()" > Add a Question</button>
        
    </div>
    <hr>
    <input class="btn btn-primary btn-user btn-block" [disabled]="!questionsForm.valid" type="submit" (click)="onSubmit()" value="Add Quiz">
</form>