<nav *ngIf="checkLogin()" class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

  <ul class="navbar-nav ml-auto">

    <li class="nav-item dropdown no-arrow">
      <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{usersService.currentUser.userName}}</span>
        <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
      </a>
      <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
        <a class="nav-link" routerLink="/add-quiz" routerLinkActive="active">
          <i class="fas fa-plus-square fa-sm fa-fw mr-2 text-gray-400"></i>
          Add Quiz
        </a>
        <a class="nav-link" routerLink="/list" routerLinkActive="active">
          <i class="fas fa-list-alt fa-sm fa-fw mr-2 text-gray-400"></i>
          Quizzes List
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item"  data-toggle="modal" data-target="#logoutModal">
          <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
          Logout
        </a>
      </div>
    </li>
  </ul>
</nav>



<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" (click)="logout()">Logout</a>
      </div>
    </div>
  </div>
</div>