<div class="container">
        <h1 class="h3 mb-4 text-gray-800">Add Quiz!</h1>
    <div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div *ngIf="quizType==''" class="card-header">
            Quiz details
          </div>
          <div *ngIf="quizType!==''" class="card-header">
            Add Questions
          </div>
        <div class="card-body p-0">
            <div class="row">
    <div  [ngClass]="{'col-lg-6':quizType==='','col-lg-12':quizType!==''}" >
                <div class="p-5">
                    <div *ngIf="quizType==''">
                    <form  [formGroup]="quizForm"  class="agileits-top">
                        <div class="form-group">
                            <label id="example-radio-group-label">Pick your Quiz Type </label><br>
                            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" formControlName="type">
                                <mat-radio-button class="example-radio-button" value="qcm">QCM </mat-radio-button>
                                <mat-radio-button class="example-radio-button" value="redac"> Redaction </mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div class="form-group">
                            <input class="form-control form-control-user" formControlName="title" type="text" placeholder="Title"/>
                        </div>
                        <div class="form-group">
                            <input class="form-control form-control-user" formControlName="time" type="number" placeholder="Time"/>
                        </div>
                        <div class="form-group">
                            <input class="form-control form-control-user" formControlName="topic" type="text" placeholder="Topic"/>
                        </div>
                    </form>
                    <hr>
                    <button class="btn btn-primary btn-user btn-block" (click)="confirmQuizType()" > Confirm Type</button>
                </div>
                    <div *ngIf="quizType!==''" >
                        <app-qcm *ngIf="quizType=='qcm'" [quiz]="quizForm.value"></app-qcm>
                        <app-redac *ngIf="quizType=='redac'" [quiz]="quizForm.value"></app-redac>
                            
                        </div>
                </div>
            
            
            </div>
    <div *ngIf="quizType==''"  class="col-lg-6 d-none d-lg-block bg-quiz-image"></div>
        </div>
            </div>
          </div>
        </div>
    </div>
</div>
